<div class="aboutPage">
    <p>My name is George G. Gkasdrogkas. I'm a junior web developer with passion in design. </p>
    <p>As develop myself in the past three years, I learnt alot about what a good programmer is and what makes a professionalist, not only successful, but also beloved. </p>
    <p>This time in my career circle, I have to manage my school exams and get ready for university.</p>
    <p>&nbsp;</p>
    <p>Moto:</p>
    <p>Do what your heart tells you. </p>
    <p>It's the only place where you'll be warm at dark nights.</p>
    <p>&nbsp;</p>
    <p>Special thanks:</p>
    <p>
        <ul>
            <li>To my teachers, who keep my mind fresh and clean.</li>
            <li>To my friends, who teach me to believe in others.</li>
            <li>To my parents, who make me fight for what I love.</li>
        </ul>
    </p>
</div>
